/* Mobile Layout */
.container-card {
  display: flex;
  align-items: center;
  justify-content: center;
}
.card {
  width: 100%;
  height: 100%;
  z-index: 2;
  padding: 400px 30px 40px;
  background-color: var(--white);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  overflow: auto;
}
.card-other {
  width: 100%;
  height: 100vh;
  z-index: 2;
  padding: 30px;
  background-color: var(--white);
  background-image: url('../../../img/Frame-1.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container-category-rating {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 50px;
}
.container-btn {
  display: flex;
  flex-direction: column;
  gap: 13px;
}
.card-other-content {
  text-align: center;
}

/* Tablet Layout */
@media only screen and (min-width: 600px) and (max-width: 991px) {
  .card {
    width: 85%;
    height: fit-content;
    margin-block-start: 100px;
    margin-block-end: 50px;
    padding: 40px;
    overflow: visible;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
  }
  .card-other {
    width: 600px;
    height: 300px;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    margin-top: 35%;
  }
}

/* Desktop Layout */
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .card {
    width: 85%;
    height: fit-content;
    display: flex;
    gap: 60px;
    padding: 30px 35px;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
  }
  .container-btn {
    flex-direction: row;
    gap: 13px;
  }
  .container-product-content {
    width: 50%;
  }
  .card-other {
    height: 60vh;
    width: 80vw;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
  }
}

/* Large Desktop Layout */
@media only screen and (min-width: 1200px) {
  .card {
    width: 70%;
    height: fit-content;
    display: flex;
    justify-content: space-between;
    gap: 80px;
    padding: 40px 60px;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
  }
  .container-btn {
    flex-direction: row;
    gap: 13px;
  }
  .container-product-content {
    width: 45%;
  }
  .card-other {
    height: 60vh;
    width: 70vw;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
  }
}

/* Extra Large Desktop Layout */
@media only screen and (min-width: 2560px) {
  .card {
    width: 80%;
    height: fit-content;
    display: flex;
    gap: 120px;
    padding: 70px 130px;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
  }
  .container-btn {
    flex-direction: row;
    gap: 13px;
  }
  .container-product-content {
    width: 55%;
  }
  .card-other {
    height: 60vh;
    width: 80vw;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
  }
}
