:root {
  --white: #ffffff;
  --gray: #dcdcdc;
  --blue: #002772;
  --dark-blue: #001b4e;
  --light-blue: #d6e6ff;
  --violet: #720060;
  --dark-violet: #500044;
  --light-violet: #fde2ff;
  --font-description-color: #1e1e1e;
  --font-category-color: #3f3f3f;
  --bg-blue-dark: #95afd6;
  --bg-purple-dark: #c5a5c8;
  --bg-bottom-dark: #303030;
  --light-gray: #f1f1f1;
  --dark-gray: #b0b0b0;
}

/* Global */
* {
  font-family: 'Inter', sans-serif;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

/* Dynamic Color Background */
.bg-light-men {
  background-color: var(--light-blue);
}
.bg-light-women {
  background-color: var(--light-violet);
}
.bg-light-other {
  background-color: var(--light-gray);
}
.bg-dark-men {
  background-color: var(--bg-blue-dark);
}
.bg-dark-women {
  background-color: var(--bg-purple-dark);
}
.bg-dark-other {
  background-color: var(--dark-gray);
}

/* Dynamic Bottom Color */
.bg-light {
  background-color: var(--white);
}
.bg-dark {
  background-color: var(--bg-bottom-dark);
}

/* Dynamic Color */
.color-men {
  color: var(--blue);
}
.color-women {
  color: var(--violet);
}
.color-other {
  color: var(--font-description-color);
}
