/* Mobile Layout */
.background {
  width: 100%;
  height: 100vh;
  background-image: url('../img/bg-pattern.svg');
  background-size: cover;
  background-repeat: repeat;
  display: flex;
  align-items: center;
  justify-content: center;
}
.background-bottom {
  position: fixed;
  bottom: 0;
  height: 30%;
  width: 100%;
}

/* Tablet Layout */
@media only screen and (min-width: 600px) and (max-width: 991px) {
  .background {
    width: 100%;
    height: fit-content;
    background-image: url('../img/bg-pattern.svg');
    background-size: cover;
    background-repeat: repeat;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .background-bottom {
    position: fixed;
    bottom: 0;
    height: 30%;
    width: 100%;
  }
}

/* Desktop Layout */
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .background {
    height: 100vh;
  }
}

/* Large Desktop Layout */
@media only screen and (min-width: 1200px) {
  .background {
    height: 100vh;
  }
}

/* Extra Large Desktop Layout */
@media only screen and (min-width: 2560px) {
  .background {
    height: 100vh;
  }
}
