.product-cart {
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: var(--white);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    margin-bottom: 20px;
}
.image {
    display: none;
}
.image > img {
    width: 80px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
.title-price {
    width: 50%;
}
.title {
    margin-bottom: 0;
}
.category {
    margin-top: 0;
    font-size: 15px;
    font-style: italic;
}
.price {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 15%;
}
.quantity, .delete-product {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 10%;
}

.btn-delete {
    border: none;
    background-color: transparent;
    cursor: pointer;
}

/* Desktop Layout */
@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .image {
        display: block;
    }
  }
  
  /* Large Desktop Layout */
  @media only screen and (min-width: 1200px) {
    .image {
        display: block;
    }
  }
  
  /* Extra Large Desktop Layout */
  @media only screen and (min-width: 2560px) {
    .product-cart {
        padding: 40px 60px;
    }
    .image {
        display: block;
    }
    .image > img {
        width: 200px;
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
    }
    .title-price {
        font-size: 36px;
    }
    .category {
        font-size: 30px;
    }
    .price, .quantity, .btn-delete {
        font-size: 30px;
    }
  }