header {
  z-index: 10;
  background-color: rgba(255, 255, 255, 0.295);
  backdrop-filter: blur(10px); 
  top: 0;
  position: fixed;
  width: 100%;
}

.navbar {
  display: flex;
  justify-content: space-between;
  padding-inline: 6vw;
}
.brand {
  font-size: 18px;
}
.list-navigation {
  list-style: none;
  display: flex;
  gap: 20px;
  margin-top: 25px;
}
.navigation {
  font-size: 18px;
}
.btn-nav {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 18px;
}

/* Desktop Layout */
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  header {
    background-color: transparent;
    backdrop-filter: blur(0);
  }
}
/* Large Desktop Layout */
@media only screen and (min-width: 1200px) {
  header {
    background-color: transparent;
    backdrop-filter: blur(0);
  }
}
/* Extra Large Desktop Layout */
@media only screen and (min-width: 2560px) {
  header {
    background-color: transparent;
    backdrop-filter: blur(0);
  }
  .list-navigation {
    margin: 40px;
  }
  .brand, .navigation{
    font-size: 36px;
  }
}
